* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-width: 400px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #202124;
	font-family: "Roboto";
	color: #e8eaed;
	position: relative;
}

path {
	fill: #e8eaed;
}

.header {
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	padding: 6px;
	/* margin: 10px; */
}

.header > * {
	margin-left: 15px;
}

.header__text-link {
	font-size: 13px;
	color: #e8eaed;
	text-decoration: none;
}

.header__icon-apps {
}

.header__icon-apps svg {
	width: 24px;
}

.header__icon-profile svg {
	width: 32px;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__container-logo {
	width: 100%;
	height: 225px;
	display: flex;
}

.main__img-logo {
	width: 272px;
	margin: 0 auto;
	/* background-color: red; */
	align-self: end;
}

.main__search {
	width: 584px;
	height: 46px;
	margin: 16px;
	border: solid 1px #e8eaed;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main__container-search-bar {
	width: 100%;
	margin: 0 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.main__search-icon {
	width: 24px;
	height: 24px;
}

.main__search-icon svg {
	width: 24px;
	height: 24px;
}

.main__input-text {
	width: 100%;
	height: 24px;
	background-color: #202124;
	border: none;
	border-left: solid 2px #e8eaed;
	margin: 8px;
}

.main__camera-icon {
	width: 24px;
	height: 24px;
}

.main__camera-icon svg {
	width: 24px;
	height: 24px;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* margin-top: auto; */
	background-color: #171717;
	color: #bdc1c6;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.footer__region {
	/* height: 49px; */
	display: flex;
	align-items: center;
	border-bottom: solid 1px #3c4043;
	/* background-color: red; */
}

.footer__country {
	font-size: 15px;
	border: none;
	padding: 15px 30px;
}

.footer__general-links {
	/* height: 49px; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	/* background-color: blue; */
}

.footer__about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.footer__link {
	text-align: center;
	display: block;
	font-size: 14px;
	list-style-type: none;
	padding: 15px;
}

.footer__link:hover,
.footer__country:hover {
	cursor: pointer;
	text-decoration: underline;
}

.footer__terms {
	display: flex;
	flex-direction: row;
	align-self: center;
}

/* media queries <= 1200px*/

@media (361px <= width <= 1200px) {
	.footer__general-links {
		/* background-color: red; */
		justify-content: space-evenly;
	}
}
